Repository Flu/avr-emulator, pull requests merged in 2024-12, with the labels that each got.

#5 Implemented bld instruction
  README.md
  app/Emulator.hs
  app/Parser.hs
  app/tests/MainTests.hs
  test_files/test_bld.asm
Labels: enhancement, emulator internal

#29 Add more tests to increase coverage
  src/Emulator/Instructions.hs
  test/MainTests.hs
  test_files/bubblesort.asm
  test_files/test_com.asm
  test_files/test_cp1.asm
  test_files/test_cp2.asm
  test_files/test_cp3.asm
  test_files/test_cpc1.asm
  test_files/test_cpc2.asm
  test_files/test_cpc3.asm
  test_files/test_cpi1.asm
  test_files/test_cpi2.asm
  test_files/test_cpi3.asm
  test_files/test_cpse1.asm
  test_files/test_cpse2.asm
Labels: bug, testing

#33 Implementation of #32
  src/Emulator/Utils.hs
  src/Repl.hs
Labels: enhancement, repl

#31 Mapped Registers to SRAM
  README.md
  src/Emulator/Instructions.hs
  src/Emulator/State.hs
  test/MainTests.hs
  test_files/bubblesort.asm
  test_files/test_ld.asm
Labels: enhancement, emulator internal

#34 Fix carry flag not being set properly in ADD and ADC
  helper.py
  src/Emulator/Instructions.hs
  test_files/array_merge.asm
  test_files/bubblesort.asm
  test_files/collatz.asm
  test_files/factorial.asm
  test_files/find_maximum.asm
Labels: bug, emulator internal, testing, critical
