Repository Flu/avr-emulator, pull requests merged in 2025-01, with the labels that each got.

#36 Implement better errors and change MOVW instruction to parse as it does with AVRA
  README.md
  app/Main.hs
  src/Emulator/Instructions.hs
  src/Parser.hs
  test/MainTests.hs
  test_files/bubblesort.asm
  test_files/collatz.asm
  test_files/factorial.asm
  test_files/test_movw.asm
Labels: enhancement, emulator internal, parser, critical

#39 Replace Array with MVector for registers and memory
  avr-emulator.cabal
  src/Emulator.hs
  src/Emulator/Core.hs
  src/Emulator/Instructions.hs
  src/Emulator/State.hs
  src/Emulator/Utils.hs
  src/Repl.hs
  test/MainTests.hs
Labels: enhancement, emulator internal, critical

#43 Implement and test XCH instruction
  README.md
  src/Emulator/Core.hs
  src/Emulator/Instructions.hs
  src/Parser.hs
  test/MainTests.hs
  test_files/test_xch.asm
Labels: enhancement, emulator internal, parser

#48 Implement BSET Instruction
  README.md
  src/Emulator/Core.hs
  src/Emulator/Instructions.hs
  src/Parser.hs
  test/MainTests.hs
  test_files/test_bset.asm
Labels: enhancement, emulator internal
